.service .description.sneakpeek1 {
    height: 100px;
    width: auto;
}

.service .icon-holder > img.icon {
    width: 80px;
    border-radius: 50%;
}

.team {
	padding-bottom: 0;
}

.margin-bottom {
	margin-bottom: 150px;
}

.promo-video {
	height: 100%;
	width: 100%;
}

.promo-video-wrapper {
	height: 500px;
}

.promo-section {
	padding: 40px 0;
}

.promo-title {
	padding-bottom: 40px;
	margin: 0;
}

.footer-name {
	color: #00a8ff;
}

footer {
	background: none;
	background-color: black;
	padding: 40px 0;
}

#price {
	background: #00a8ff url(../img/pricing1.jpg) no-repeat center center;
	background-size: cover;
	transition: background-image 0.6s linear 0.3s;
}

.fa-home {
	margin-right: 5px;
}

.navbar-brand .fa-home {
	font-size: 50px;
}